*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
:root {
   --max-width-90: 90%;
   --widthbrowse: 1200px;
   --height-ContactUs: 500px;
}


/*header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #ede728d6 0%, #f3f9a7 100%);
    padding: 20px 0 10px 0;
    z-index: 10;
}
header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}
.breadcrumb,
.header-content,
.productList,
.paginationPage,
.contactUs {
    max-width: 90%;
    width: 1200px;
    margin: auto
}

/*header-iconCart*/
.header-content .iconCart{
    position: relative;
    cursor: pointer;
}
.header-content .iconCart span{
    position: absolute;
    top: -30%;
    right: -30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 245, 66);
    font-size: 16px;
    font-weight: 500;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* breadcrumb */
.breadcrumb{
    margin-top: 70px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.breadcrumb:hover{
    color: #ff652f;
}

/*Slider*/
.slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.slider .slider-content{
    max-width: 80%;
    display: flex;
    transition: transform 1s ease;
    overflow: hidden;
}
.slider .slider-content img{
    width: 100% !important;
    flex-shrink: 0;
}

.slider .swiper-pagination{
    position: absolute;
    bottom: 0;
}
.swiper-pagination-bullet{
    background-color: #ede728d6;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #ede728d6;  
}
.slider .slider-position {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .slider-position .slider-position-prev, 
.slider .slider-position .slider-position-next {
    font-size: 40px;
    color: #ede728d6
}
.slider .slider-position .slider-position-prev:hover,
.slider .slider-position .slider-position-next:hover {
    font-size: 44px;
    cursor: pointer;
}
.swiper-button-prev:after, 
.swiper-button-next:after {
    content: '';  /* Xóa các nội dung mặc định */
}
.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, 
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    transform: translateY(-20px);
}


/*ProductList*/
.productList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.productList .item {
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.productList .item:hover {
    transform: translateY(-4px) scale(1.04);
    box-shadow: 0 2px 10px rgba(0,0,0, 0.5);
}
.productList .item .image img{
    width: 90%;
    max-height: 255.05px;
}
.productList .item .name{
    margin-top: 10px;
}
.productList .item .name a{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    text-decoration: none;
    color: #000;
    display: -webkit-box;        
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;            
    text-overflow: ellipsis;   
    white-space: normal;
    padding: 0 20px;
}
.productList .item .name a:hover{
    color:#ff652f;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.2); /* Độ dày và màu viền của chữ */
}
.productList .item .price{
    font-size: 20px;
    font-weight: 500;
    padding: 30px 0px 20px;
}
.productList .item .addToBag{
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(236, 245, 66);
    color: #000;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.productList .item .addToBag:hover {
    background-color: #ff652f;
}


/* paginationPage */
.paginationPage{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.paginationPage button {
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 4px;
}
.paginationPage button:hover { 
    background-color: rgb(236, 245, 66);
    cursor: pointer;
}
.paginationPage .pageNumbers {
    display: flex;
    gap: 10px;
}
.paginationPage .pageNumbers button.active {
    background-color: #ff652f;
}


/*Contact Us*/
.contactUsContainer{
    background: linear-gradient(90deg, #ede728d6 0%, #f3f9a7 100%);
    height: calc( var(--height-ContactUs) + 160px);
    display: flex;
    margin-top: 40px;
}
.contactUs{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: var(--height-ContactUs);
    background-color: #fff;
    border-radius: 16px;
    display: flex;
}
.contactUs .info {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    position: relative;
}
.contactUs .info::before {
    position: absolute;
    right: 0;
    top: 20%;
    content: "";
    width: 2px;
    height: 60%;
    background-color: rgb(236, 245, 66);
}
.contactUs .info .infoAddress,
.contactUs .info .infoPhone,
.contactUs .info .infoEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contactUs .info i{
    font-size: 32px;
    font-weight: 600;
    color:rgb(236, 245, 66);
    padding-bottom: 8px;
}
.contactUs .info h3{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 8px;
}
.contactUs .info p{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 8px;
    color: #bbb;
}
.contactUs .sendMessage{
    width: 75%;
    padding: 40px;
    left: 0;
}
.contactUs .sendMessage .content,
.contactUs .sendMessage .button{
   height: 20%;
}
.sendMessage .content h2{
    font-size: 32px;
    font-weight: 600;
    color:black;
    padding-bottom: 16px;
}
.sendMessage .content p{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 8px;
    color: black;
    line-height: 1.4rem;
}
.contactUs .sendMessage .input{
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sendMessage .input input{
    font-size: 14px;
    padding: 20px;
    height: 20%;
    border: none;
    outline: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.sendMessage .input textarea{
    font-size: 14px;
    padding: 20px;
    height: 60%;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    outline: none; 
    resize: vertical; 
    box-sizing: border-box;
    border-radius: 4px;
    cursor: text;
}
.sendMessage .input textarea::-webkit-scrollbar{
    width: 8px;
}
.sendMessage .input textarea::-webkit-scrollbar-thumb {
    background-color: rgb(236, 245, 66); 
    border-radius: 10px;
    cursor: pointer;
}
.sendMessage .input textarea::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.sendMessage .button button{
    margin-top: 40px;
    width: 160px;
    height: 50%;
    font-size: 24px;
    font-weight: 500;
    color:black;
    background-color: rgba(236, 245, 66, 0.8);
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.sendMessage .button button:hover {
    background-color: #ff652f;
}
